@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* Variables */
$backgroundColor: #242426;

.nav_bhmapper {
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: white;
  background-color: $backgroundColor;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
}
.nav_links {
  display: flex;
  width: 25%;
  justify-content: space-between;
  text-align: center;
}

.nav_brand > p {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.nav_links > a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
.nav_icon {
  display: none;
}
#hidden {
  display: flex;
}

@media only screen and (max-width: 768px) {
  .nav_links {
    display: none;
  }
  #hidden {
    position: absolute;
    left: 0px;
    top: 10vh;
    height: 230px;
    width: 100%;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    z-index: 10000;
    background-color: $backgroundColor;
  }
  .nav_icon {
    display: flex;
  }
}
