.main_page_section {
  display: flex;
  height: 80vh;
  position: relative;
  align-items: center;
  justify-content: center;
}
.main_middle {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}
.main_page_section > h1 {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  top: 25%;
  left: -5.5rem;
  color: white;
  font-size: 12rem;
}
.main_page_section h2 {
  position: absolute;
  top: 0;
  color: rgba(102, 102, 102, 0.198);
  left: 0;
  font-size: 30rem;
  height: 100%;
  width: 99%;
  margin: 0;
  padding: 0;
}
#first_paragraph_main,
#second_paragraph_main {
  color: white;
  position: absolute;
  width: 25%;
}
#first_paragraph_main {
  top: 70%;
  left: 0;
  margin: 0;
}
#second_paragraph_main {
  right: 0;
  top: 50%;
  margin: 0;
}
.main_page_numbers {
  color: white;
  display: flex;
  flex-direction: column;

  position: absolute;
  right: 0;
  width: 20%;
  text-align: center;
  top: 35%;
}
.main_page_numbers > p {
  font-size: 1.2rem;
}
.img_main {
  clip-path: url(#svg_img_main);
  aspect-ratio: 1/1;
  width: 62%;
  height: 100%;
  object-fit: cover;
}
svg {
  border: 2px solid red;
  height: 0;
  width: 0;
}
