@import url("https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@700&family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.main_page_section {
  display: flex;
  height: 80vh;
  position: relative;
  align-items: center;
  justify-content: center;
  font-family: "Kaisei HarunoUmi", serif;
  overflow-x: hidden;
}
.main_middle {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4rem;
}
.main_page_section > h1 {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  top: 25%;
  left: -5.5rem;
  color: white;
  font-size: 12rem;
  z-index: 1000;
}
.main_page_section h2 {
  position: absolute;
  top: 0;
  color: rgba(102, 102, 102, 0.198);
  left: 0;
  font-size: 25rem;
  height: 100%;
  width: 120%;
  letter-spacing: 2rem;
  margin: 0;
  padding: 0;
}
#first_paragraph_main,
#second_paragraph_main {
  color: white;
  position: absolute;
  width: 25%;
}
#first_paragraph_main {
  top: 70%;
  left: 0;
  margin: 0;
}
#second_paragraph_main {
  right: 0;
  top: 50%;
  margin: 0;
}
.main_page_numbers {
  color: white;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  width: 20%;
  top: 35%;
  justify-content: space-between;
  align-items: center;
  height: 25%;
}
.main_page_numbers > button {
  font-size: 1.4rem;
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
}
.img_main {
  clip-path: url(#svg_img_main);
  aspect-ratio: 1/1;
  width: 62%;
  height: 100%;
  object-fit: cover;
}
svg {
  height: 0;
  width: 0;
}
/* Button design */
.main_page_btn {
  position: absolute;
  top: 92%;
  left: 25%;
}
.main_page_btn button {
  color: white;
}
.btn_page {
  width: 20%;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 0;
  transition: 0.3s ease-in-out;
}
.btn_page:hover {
  border-bottom: 1px solid white;
}

@media only screen and (min-width: 375px) and (max-width: 767px) {
  .main_page_section {
    flex-direction: column;
  }
  .main_page_section > h1,
  .main_page_section h2 {
    display: none;
  }

  .main_middle {
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }
  .main_middle img {
    width: 80%;
    height: 80%;
  }
  #first_paragraph_main,
  #second_paragraph_main {
    position: static;
    width: 100%;
  }
  .main_page_numbers {
    position: static;
    flex-direction: row;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .main_page_section {
    overflow-x: hidden;
    flex-direction: column;
  }
  .main_page_section > h1 {
    display: flex;
    z-index: 1;
  }
  .main_page_section h2 {
    display: none;
  }
  .main_middle {
    flex-direction: column;
    width: 90%;
    justify-content: space-between;
  }
  .main_middle img {
    width: 80%;
    height: 80%;
  }
  #first_paragraph_main,
  #second_paragraph_main {
    position: static;
    width: 100%;
  }
  .main_page_numbers {
    position: static;
    flex-direction: row;
  }
}
