.mapRef {
  height: 100vh;
  width: 75%;
  position: relative;
}
.mapFull {
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.map_page {
  display: flex;
  margin: 0;
  background-color: #242426;
  height: 100vh;
}
.map_accordion_scroll {
  overflow-y: scroll;
  height: 95%;
  margin-top: 2rem;
  padding: 0 2rem;
}
.map_accordion_div_flex {
  display: flex;
  flex-direction: column;

  width: 100%;
}
.map_accordion_link {
  padding: 0.6rem 2rem;
  display: flex;
  justify-content: space-between;
}
.map_accordion_link svg {
  color: white;
}
.clear {
  display: none;
}
.back_accordion_div {
  background: transparent;
}
.back_accordion_div button {
  width: 10rem;
  height: 3rem;
  z-index: 1000;
  top: 5%;
  left: 2%;
  position: absolute;
}
